@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.q-font {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.blue-bg{
    background: rgb(75, 176, 255);
    background: radial-gradient(circle, 
    rgba(75, 176, 255, 1) 0%, 
    rgba(94, 179, 245, 1) 20%, 
    rgba(37, 113, 173, 1) 75%, 
    rgba(31, 89, 149, 1) 100%, 
    rgba(2, 0, 36, 1) 100%
);
}
